@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 207 91% 94%;
    --foreground: 222 84% 4.9%;
    --card: 210 40% 98%;
    --card-foreground: 222 84% 4.9%;
    --popover: 210 40% 98%;
    --popover-foreground: 222 84% 4.9%;
    --primary: 217 89% 61%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 4.7% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 187 100% 42%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 217 89% 61%;
    --radius: 0.5rem;
    --chart-1: 217 89% 61%;
    --chart-2: 187 100% 42%;
    --chart-3: 24 9.8% 70.2%;
    --chart-4: 173 58% 39%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 210 40% 98%;
    --sidebar-foreground: 222 84% 4.9%;
    --sidebar-primary: 217 89% 61%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 207 91% 94%;
    --sidebar-accent-foreground: 222 84% 4.9%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 217 89% 61%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 14%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 89% 61%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 187 100% 42%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217 89% 61%;
    --chart-1: 217 89% 61%;
    --chart-2: 187 100% 42%;
    --chart-3: 24 9.8% 40.2%;
    --chart-4: 173 58% 39%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 217 89% 61%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 222 47% 14%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 217 89% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
